@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
body{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E719;
}

/* GRID LAYOUT */
.grid-wrapper {
    display: grid;
    gap: 20px;
    padding: 20px;

    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "ad2"
        "footer";
}

/* Areas */
header { grid-area: header; }
main { grid-area: main; }
.sidebar { grid-area: sidebar; }
.ad2 { grid-area: ad2; }
footer { grid-area: footer; }


nav a {
    color: #161616;
    text-decoration: none;
}

h1 {
            color: #F3E719;
            background-color: #161616;
            padding: 10px;
            border-radius: 10px;
        }
        h2 {
            color: #F3E719;
            background-color: #161616;
            padding: 8px;
            border-radius: 10px;
        }
        h3 {
            color: #161616;
        }
p{
    color: #F3E719;
    background-color: #20404B;
    border: 5px solid #F3E719;
    padding: 20px;
    border-radius: 15px;
}

.content-box {
    background-color: #20404B;
    border: 5px solid #F3E719;
    padding: 20px;
    border-radius: 15px;
}

.article {
    color: #F3E719;
    margin-bottom: 20px;
}

.sidebar {
    padding: 15px;
    background: #20404B;
    border: 5px solid #161616;
    border-radius: 15px;
}

.ad {
    text-align: center;
    background: #161616;
    border: 5px solid #F3E719;
    padding: 20px;
    border-radius: 15px;
}

.ad img {
    width: 100%;
    max-width: 320px;
}

.ad2{
    color: #161616 ;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
}

/*Tablet >= 576px*/
@media (min-width: 576px) {
    .grid-wrapper {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header"
            "main sidebar"
            "ad ad"
            "ad2 ad2"
            "footer footer";
    }
}

/*Desctop ≥ 992px*/
@media (min-width: 992px) {
    .grid-wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "sidebar main ad2"
            "footer footer footer";
    }
}